"extends": "google"

"env": {
  "node": true,
  "browser": true
}

"rules": {
  "max-len": [2, 100, 4],
  "brace-style": [2, "1tbs", { "allowSingleLine": true }],
  "valid-jsdoc": 0,
  "require-jsdoc": 0
}
